@inherits LayoutComponentBase

<link href="css/app.css" rel="stylesheet" />
<link href="_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css" rel="stylesheet" />
<link href="_content/Microsoft.FluentUI.AspNetCore.Components/css/fluent-ui.css" rel="stylesheet" />
<FluentDesignTheme Mode="DesignThemeModes.Dark" OfficeColor="OfficeColor.Word" />

<div class="layout-container">

    <!-- Header -->
    <header class="layout-header">
        <div class="header-left">
            <h3>📚 Book Info App</h3>
        </div>
        <div class="header-right">
            <FluentButton appearance="Appearance.Accent">Login</FluentButton>
            <FluentButton appearance="Appearance.Neutral">About</FluentButton>
        </div>
    </header>

    <!-- Main Layout -->
    <div class="layout-main">
        <!-- Left Navbar -->
        <FluentNavMenu Width="250">
            <FluentNavLink Icon="@(new Icons.Regular.Size24.Home())" Href="/getbooks" Match="NavLinkMatch.All">Get Books</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size24.Add())">Add Book</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size24.Edit())">Update Book</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size24.Delete())">Delete Book</FluentNavLink>
        </FluentNavMenu>
        <!-- Body -->
        <main class="layout-body">
            @Body
        </main>
    </div>

    <!-- Footer -->
    <footer class="layout-footer" >
        <p>© 2025 Book Info App | Built with Blazor & Fluent UI</p>
    </footer>
</div>

<!-- Error UI -->
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>